.loading-screen {
  background-color: black;
}

.progress-bar {
  background-color: white;
  height: 8px;
  transition: width 0.5s ease-in-out;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  overflow: hidden;
}

.num {
  font-size: 24px;
  color: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
